body{
    font-family: futura;
}

main{
    max-width: 1200px;
    min-width: 800px;
}

#banner{
    width: 100%;
    height: 250px;
    border: 5px solid red;
 
}

ul li{
    list-style-type: none;
}

h2{
    font-family: 'Pacifico', cursive;;
}

.sections{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: auto;
    justify-content: center;
}

section{
    padding: 0 2em;
    margin: 1em 2em;
    border: 4px solid black;

}

footer{
    text-align: center;
    padding: 5em;
}

