body{
<<<<<<< HEAD
<<<<<<< HEAD
	background-color: yellow;
	font-family: 'Open Sans', sans-serif;
	display:flex;
	flex-wrap: inline;
=======
    font-family: futura;
>>>>>>> parent of 7f3e572 (animations added)
=======
    font-family: futura;
>>>>>>> parent of 7f3e572 (animations added)
}

main{
	margin:3em;
	transform: rotate(5deg);
	padding: 2em 2em;
	border-radius: 10%;
	background-color: purple;
	border: 5px solid black;
}

<<<<<<< HEAD
<<<<<<< HEAD
h1{
	text-align:center;
	font-size:5em;
}

.left{
	margin: 3em;
	padding: 0;
}

h2{
	margin-bottom: 1em;
	border-left: 5px solid #5DC1F2;
	padding-left: 10px;
}

h4.Friend{
	border-left: 5px solid #5DC1F2;
	padding-left: 10px;
}

h4.You{
	border-left: 5px solid #CC0000;
	padding-left: 10px;
}

.phone{
	background-color: white;
	padding: .5em 4em;
	border-radius: 10%;
	word-wrap: break-after;
}
input[type=text], select{
  width: 50%;
  margin: 1em 0;
  border-style: none;
  border-bottom-style: solid;
  padding: .5em .8em;
  border-radius: 0;
  display:block
}

form{
	//display:none;
}
label{
	font-weight: 300;
}

input[type=text]:focus{
	border-style: none;
	border-left: 5px solid red;
	padding-left: 10px;
}

input[type=submit]{
	background-color: #5DC1F2;
	color: white;
	margin-top: 1em;
	padding: .5em .8em;
	border-radius: 30px;
	border: none;
	text-align: center;
	margin-left: 40%;
}

.overlay{
	z-index:2;
	margin-left: 0;
	padding-right:10em;
	display: none;
}

img{
	width: 50%;
	text-align: center;
	margin-left: 7em;
=======
=======
>>>>>>> parent of 7f3e572 (animations added)
#banner{
    width: 100%;
    height: 250px;
    border: 5px solid red;
 
}

ul li{
    list-style-type: none;
}

h2{
    font-family: 'Pacifico', cursive;;
}

.sections{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: auto;
    justify-content: center;
}

section{
    padding: 0 2em;
    margin: 1em 2em;
    border: 4px solid black;

}

footer{
    text-align: center;
    padding: 5em;
<<<<<<< HEAD
>>>>>>> parent of 7f3e572 (animations added)
=======
>>>>>>> parent of 7f3e572 (animations added)
}

