body{
    background-color:#222;
    color: white;
    font-family: Arial;
    /* display: grid;
    place-items: center; */
}

.page3{
    z-index:30;
}

.hide{
  visibility: hidden;
  opacity: 0;
}
form{
    position: relative;
    width:100vw;
    height: 100vh;
    display: block;
   
    
}
/* input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  } */
  /* input[type=checkbox]{
    width:10vw;
    padding: 50vw;
    display: block;
  } */
  /* The container */
.container {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-left: 40px;
    cursor: pointer;
    font-size: 22px;
    top:80%;
  }
  
  input[type=text]{
    position: absolute;
    top:5vh;
    margin-left: 30vw;
  }

  
  .c{
    position: absolute;
    top: 20vh;
  }

  label{
    position:absolute;
    left:30vw;
    top: 0vh;
  }
 

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    bottom: 50vh;
    right: 2vw;
    height: 50px;
    width: 50px;
    background-color: #eee;
  }
  
  
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    /* background-color: #ccc; */
    border: solid white 2px;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

.page1{
  position:relative;
  display: grid;
  place-content: center;
  height:200px;
  z-index: 0;
}

/* h1{
    position:absolute;
    text-align: center;
    top: 0vh;
} */

.h1-avatar-creation{
  position: absolute;
  text-align: center;
  left:30%;
  top:10%;
}

.a1{
  position:absolute;
  width:20%;
  height:30%;
  bottom:40%;
  left: 60%;
  justify-content: flex-end;
}
.create-avatar1{
  display: flex;
  width:100%;
  height:30%;
}

.one{
    background-color: green;
}

.two{
    background-color: purple;
}

.three{
    background-color: rgb(0, 229, 255);
}
.four{
    background-color: orange;
}


.b{

    border: none;
    width: 10em;
    padding: 10px 10px;
    border-radius: 20px;
    background-color: rgb(255, 78, 137);
    color:white;
    top: 45vh;
    margin-left: 6vw;
    position:absolute;
}

.b:hover{
    cursor: pointer;
    background-color: rgb(255, 110, 159);
} 
.main{
    position: absolute;
    width:100vw;
    height:80vh;
    display: flex;
    top: 60vh;
    flex-direction: column;
    align-items: center;
}

.h1{
    position:absolute;
    display: flex;
    flex-direction: row;
    width:100%;
    height:100vh;
    padding:20vh 20vw;

}

.h1-img1{
    width: 40%;
    height:40vh;
    top:15%;
    /* left:50%; */
}
.h1-img2{
    /* position:absolute; */
    width: 13%;
    height:40vh;
    top:5%;
    /* left:50%; */
}
h4{
    text-align: center;
    font-weight: 200;
    top: 50vh;
    padding-left: 20vw;
    padding-right: 25vw ;
    /* position:absolute; */
}
img{

    width: 30vw;
    height: 40vh;
    top:20vh;
}


button{
    border: none;
    width: 10em;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(255, 78, 137);
    color:white;
}

/* .start{ 


} */

button:hover{
    cursor: pointer;
    background-color: rgb(255, 110, 159);
}

.gamejerseys{
    width:100vw;
    height: 80vh;
    top: 5vh;
    position: relative;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.gjersey1{
    width:15vw;
    height:10vw;
    padding-top: 7vh;
    padding-left: 5vw;
    padding-right: 15vw;
    /* position: absolute; */
    /* padding-right: 30vw; */
}

.gjersey2{
    width:15vw;
    height:10vw;
    padding-top:7vh;
    padding-right: 15vw;
    padding-left: 5vw;
}

.shoot{
   height:40px;
   align-self: center;
}

.pass{
    height:40px;
    align-self: center;
 }

 .p1{
    text-align: center;
    align-self: center;
    padding-left: 60%;
 }

 .p2{
    text-align: center;
    align-self: center;
    padding-left: 55%;
 }

 .shoot-ball{
    width:100vw;
    height:40vh;
    display: flex;
    flex-direction: column;
 }
 
 .hoop{
    width:50%;
    height:auto;
    align-self: center;
 }

 .alien-shooter{
    /* position:absolute; */
    height: 60vh;
    width: 30vw;
    padding-bottom: 36vh;
    bottom:40vh;
    align-self: center;
 }

 #game {
    background-color:rgba(255, 255, 255, 0);
    /* position: absolute;
    place-items: center; */
    width:50%;
    height: 20vh;
    top: 37vh;
    left: 42vw;
    position:absolute;
}
img{
    width:100px;
    height:100px;
}

.alien-count1{
    width:45px;
    position:absolute;
    margin-left:10%;
    border-bottom: #fff 3px dashed;
}

.alien-count2{
    width:45px;
    position:absolute;
    margin-left:10%;
    border-bottom: #fff 3px dashed;
}

.winning-shot{
    top: 20vh;
    position: absolute;
    width:100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* background-color: black; */
}

.made-gif{
    width:80vw;
    height: 90vh;
    /* z-index: 20; */
    align-self: center;
}