body{
	background-color: yellow;
	font-family: 'Open Sans', sans-serif;
	display:flex;
	flex-wrap: inline;
}

.chair{
	background-image:url("images/chair.png");
	background-size: cover;
	height: 100%;
	color: white;
	text-align: center;
}
.gumball{
	background-image:url("images/gumball.png");
	background-size: cover;
	height: 100%;
	color: white;
}

.balloon{
	background-image:url("images/balloon.png");
	background-size: cover;
	height: 100%;
	color: white;
}

#x{
	z-index:100;
	border: 0;
	background-color: transparent;
	color:white;	
}

#x:hover{
	cursor:pointer;
}

.tap-to-close{
	text-align: right;
}

main{
	margin:3em 5em;
	transform: rotate(5deg);
	padding: 2em 1em;
	border-radius: 10%;
	background-color: purple;
	border: 5px solid black;
	font-size: 16px;
}

.box{
	/* width: 20px;
	height: 20px; */
	border: 0;
	border-left: 20px solid red;
	padding-left: 10px;
	display: block;
	background-color: white;
	/* background-color: red; */
}

.box:hover{
	cursor: pointer;
}

h1{
	text-align:center;
	font-size:5em;
}

.left{
	margin-top: 3em; 
	padding: 0;
}

h2{
	margin-bottom: 1em;
	border-left: 5px solid #5DC1F2;
	padding-left: 10px;
}

h4.Friend{
	border-left: 5px solid #5DC1F2;
	padding-left: 10px;
}

h4.You{
	border-left: 5px solid #CC0000;
	padding-left: 10px;
}

.phone{
	background-color: white;
	width: 30vw;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 2em;
	padding-right: 1em;
	text-align: left;
	border-radius: 10%;
	/* word-wrap: break-after; */
}
input[type=text], select{
  width: 50%;
  margin: 1em 0;
  border-style: none;
  border-bottom-style: solid;
  padding: 0em .8em;
  border-radius: 0;
  display:block
}

.hidden{
	display:none;
}
label{
	font-weight: 300;
}

input[type=text]:focus{
	border-style: none;
	border-left: 5px solid red;
	padding-left: 10px;
	outline: none;
}

input[type=submit]{
	background-color: #5DC1F2;
	color: white;
	margin-top: 0em;
	margin-bottom: 1em;
	padding: .5em .8em;
	border-radius: 30px;
	border: 1px solid white;
	text-align: center;
	margin-left: 40%;
}

input[type=submit]:hover{
	cursor: pointer;
}

#overlay{
	z-index:2;
	margin-left: 0;
	padding-right:10em;
	/* display: none; */
}

img{
	width: 35%;
	/* text-align: center; */
	margin-left: 14em;
	border-radius: 50px;
}

